<footer class="footer-custom">

    <p>
        &copy; 2014-2022 TRT Conseil <br/>
        <small>Votre agence de recrutement spécialisée dans l’hôtellerie et la restauration <br/>
            <span><a href="#">CGV</a> | <a href="#">RGPD</a></span>
        </small>
    </p>

</footer>