{% extends 'base.html.twig' %}

{% block title %}Vos annonces{% endblock %}

{% block content %}
    <div class="container w-75">
        <h1 class="m-4">Vos Annonces disponibles</h1>
        <h2 class="h4 m-3">Ici se trouvent vos annonces validées par l’équipe</h2>
        <div class="row">

            {% for jobAd in jobAds %}
                <div class="col">
                    <div class="card border-primary mb-3 " style="max-width: 20rem;">
                        <div class="card-header">{{ jobAd.title }}</div>
                        <div class="card-body">
                            <p class="card-text">{{ jobAd.description }}</p>
                            <hr>
                            <p class="card-text">Adresse : {{ jobAd.address }} <br>
                                Code Postal : {{ jobAd.zipcode }}</p>



                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>

    </div>
{% endblock %}